@CHARSET "ISO-8859-1";
.intro-product .cms-logo{
	text-align: center;
}

.intro-product .cms-tools {
	text-align: center;
}

.intro-product .cms-content {
	text-align: center;
}

.intro-product ul{
	display : inline-block;
	overflow: hidden;
}
.intro-product ul li{
	display: inline-block;
	text-align: center;
	margin: 0 30px;
}

.intro-product ul li a i{
    border: 1px solid #ddd;
    border-radius: 35px;
    padding: 20px;
    margin: 10px;
  
}
.intro-product ul li a span{display: block;}
