@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/playfairdisplay-webfont.eot');
  src: url('../fonts/playfairdisplay-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/playfairdisplay-webfont.woff') format('woff'), url('../fonts/playfairdisplay-webfont.ttf') format('truetype'), url('../fonts/playfairdisplay-webfont.svg#latolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SweetlyBroken';
  src: url('../fonts/Sweetly-Broken.eot');
  src: url('../fonts/Sweetly-Broken.eot?#iefix') format('embedded-opentype'), url('../fonts/Sweetly-Broken.woff') format('woff'), url('../fonts/Sweetly-Broken.ttf') format('truetype'), url('../fonts/Sweetly-Broken.svg#latolight') format('svg');
  font-weight: normal;
  font-style: normal;
}