
/*Header
============================*/
#masthead{
  .header{
    margin:$header_margin;
    padding:$header_padding;
    position: relative;
	   margin-top:20px;
    #header-logo {      
      background: $white;
      overflow: hidden;
      a {
        display:block;
        margin: 45px 15px;
        img{
          max-height: $main_logo_height;
        }
      }
    }
  }
}
.header-top{
  margin-top:20px; 
  max-height: 40px;
  font-family: Roboto ;
  .widget_cart_search_wrap a{
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.05em;
  }
  &.light_mode{
    .container{
     background-color:#ffffff;
     color:#696969;
     .cms-social.default{
        li{
          a{
            background-color: #eeeeee;
            border-bottom: 3px solid #eeeeee;
            color: #696969;
            &:hover,
            &:focus{
              background: #eeeeee;
              color: #3c5a99;
              border-bottom-color: #3c5a99;
            }
          }
        }
      }
      .widget_cart_search_wrap a{
        color: #696969;
      }
    }
  }
  &.dark_mode{
    .container{
      background-color:#252525;
      color: #dedede;
      .cms-social.default{
        li{
          a{
            background-color: #3e3e3e;
            border-bottom: 3px solid #3e3e3e;
            &:hover,
            &:focus{
              background: #fff;
              color: #3c5a99;
              border-bottom-color: #3c5a99;
            }
          }
        }
      }
    }
  }
  /*Social Top*/
  .widget_cms_social_widget{
    .widget-title,
    ul.cms-social{
        display: inline-block;
    }
  }
}
.header-top-left,
.header-top-right{padding: 0 15px;}
.header-top-right{
  .widget {
      float: left;
  }
  .widget_text ul{
    margin:0;
    padding:0;
    li{
      list-style: none;
        display: inline-block;
      margin: 4px 0 4px 0;
      span{
        display: block;
        padding: 0 12px;
        border-right: 1px solid #949494;
        i{
          padding-right: 7px;
        }
      }
    }
  }
  .widget_cart_search_wrap{
    a.icon_search_wrap{
      span.widget-title{
        text-transform: uppercase;
      }
    }
    .header{
      line-height: 32px;
      margin:4px 0 4px 0;
    }
  }
}

.shopping_cart_dropdown,
.widget_searchform_content{
  border-bottom: 5px solid $primary_color;
  input[type="text"],
  input[type="submit"],
  input[type="email"]{
      outline: none;
      display: inline-block;
      height: 30px;
  }
  input[type="submit"]{
    color: #444444;
    border-color: #444444;
    border-width: 1px;
    border-style: solid;
    @include border-radius(0px);
    @include transition(all 0.5s ease-out 0s);
    &:hover,
    &:focus{
        outline: none;
        text-decoration: none;
        color: #fff ;
        background: transparent;
        @include box-shadow(400px, 0, 0, #444444, inset);

    }
  }
  a{
    color: #343434 !important;
    &.wc-forward{
      padding: 10px 20px;
      display: inline-block;
      @include border-radius(0px);
    }
  }
}
 .shopping_cart_dropdown{
  .shopping_cart_dropdown_inner{
    ul.cart_list{
      li.cart-list{
        margin-bottom: 10px !important;
        a{
          padding:0;
          display: inline-block !important;
          margin-bottom: 0 !important;
          margin-top: 0 !important;
          img{
            @include border-radius(0);
            width:  auto !important;
            height: auto !important;
            max-height: none !important;
            margin: auto !important;
            float: none !important;
          }
        }
      }
    }
    
  }
  span.total{
    float: right;
    line-height: 40px;
    span.amount{
      margin-left: 5px;
    }
  }
  
}
.widget_searchform_content{
  width: 300px !important;
}
/*Sidebar left- Header Fixed Left
=============================================*/
.sidebar-left{
  .widget{
    background: $white;
    margin-top: 20px;
    padding: 30px;
    
    h3.widget-title{
      margin:0;
      text-transform: uppercase;
      padding: 0 0 11px 0;
      border-bottom: 1px solid $light;/* $light=#e5e5e5 */
    }
    .textwidget{
      .text{
        @extend .center;
        font-size: 15px;
        line-height: 20px;
        display: block;
      }
      span.text{
        font-size:15px;
        line-height: 20px;
        font-style:italic;
        letter-spacing: 0.04em;
        color: #696969;
      }
    }
    .wpcf7{
      input, textarea{
        margin: 0;
        width: 100%;
      }
      form.wpcf7-form{
        p{
          margin:  14px 0 0 0;
          img.ajax-loader{
            display: none;
          }
          .wpcf7-form-control.wpcf7-submit{
            background:$primary_color;
            color: #fff;
            border-bottom-width:2px  ;
            border-bottom-style:solid  ;
            border-color: darken($primary_color,10%);
            border-top-color: darken($primary_color,10%);
            font-size: 13px;
            line-height: 22px;
            letter-spacing: 0.04em;
            font-weight: 400;
            border-left: none;
            border-right: none;
            border-top: none;
            width: 100%;
            margin-bottom:25px; 
          }

        }
      }
      
    }
    
  }
    ul{
      padding: 0;
      margin:0;
      line-height: 20px;
      li{
        list-style:none;
        i{
          color: $primary_color;
          padding-right: 10px;
        }
        span{
          color: $menu_color_sub_level;
          display: inline-block;
          vertical-align: top;
        }
      }
    }
}
/*Social
===========================*/


.cms-social {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      a {
        display: block;
        text-align: center;
        color: $white;
        &:hover,
        &:focus{
          text-decoration: none;
        }
        i {
          @include transition(all 300ms linear 0ms);
          padding: 0;
        }
    }
  }
  /***** Social top *****/
  &.default{
      padding: 0 0 0 10px;
      margin: 0;
    li{
      margin-right: 1px;
      a{
        width: 31px;
        height: 40px;
        line-height: 40px;
        &:hover,
        &:focus{
          background: #fff;
          color: #3c5a99;
          border-bottom-color: #3c5a99;
        }
      }
    }
  }
  /*social-circle*/
  &.social-circle{
    li{
      margin:15px 9px 0 0;
      a{
        i{
          background: $face;
          width: 33px;
          height: 33px;
          line-height: 33px;
          @include border-radius(100%);
          display: block;
          color: $white;
          &.fa-twitter{
            background: $twiter;
          }
          &.fa-rss{
            background: $rss;
          }
          &.fa-pinterest{
            background: $pinterest;
          }
          &.fa-tumblr{
            background: $tumblr;
          }
        }
        &:hover,
        &:focus{
          i{
            background: $primary_color;
          }
        }
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
