@media screen and (min-width: 1200px) {
  body .cs-boxed {
    margin: auto;
    width: 1200px;
  }
}

@media screen and (min-width: 992px) {



  /* =Fancybox layout AVD
-------------------------------------------------------------- */
  .cms-fancyboxes-adv-item{
    padding:0 10px;
  }
}

/********** Start Screen max width 991px **********/
@media screen and (max-width: 991px) {
  body #container-wrap{
    padding:0 15px 40px;
  }
  .container {
    width: 100%;
  }
  #header-navigation{
    background:none !important;
  }
  .vc_row-fluid{
    background: #fff;
  }
  .header-top-left, 
  .header-top-right{
  	width: 100%;
  	text-align: center;
  }
  .header-top-right .widget{float: none;}

  #masthead .header #header-logo{
    position: relative;
    overflow: visible;
    a{
      margin: 15px 5px;
      display: inline-block;
    }
    .mobile-search-icon{
      .header{
        font-size: 18px;
        position: absolute;
        right: 60px;
        top: -55px;
        margin: 0;
        a{
          margin: 0;
          color: #696969;
        }
      }
      .widget_searchform_content{
        transition: all 2s;
      }
    }
  }

  #header-navigation{
    top: 100%;
    #site-navigation.main-navigation{
      ul{
        padding: 0;
        li{
          list-style: none;
        }
      }
    }
  }

  .vc_custom_heading{
    .table-cell{
      display: block;
    }
  }
  /* =Custom heading
----------------------------------------------- */
  .vc_custom_heading p{
    text-align: left;
  }
  /* =fancyboxes layout 1
 ----------------------------------------------- */

  .template-cms_fancybox--layout-1 .fancy-box-item{
    margin-bottom: 20px;
  }
 

  /* =Grid layout portfolio
  ----------------------------------------------- */
  .cms-grid-footer a{padding: 15px;}

 /* =Footer
 ----------------------------------------------- */
 footer ul.menu{
  text-align: center;
  li{
    margin: 5px 0;
  }
 }


  /* =Shortcode call to action
 ----------------------------------------------- */
  .cs_call_to_action{
    text-align: center;
    position: relative;
    span.wpb_call_text{
      float: left;
      width:100%;
      margin: 20px 0;
    }
    span.wpb_call_image{
      float:left;
      width:100%;
      text-align:center;
    }
    span.wpb_call_button{
      float:left;
      width:100%;
      text-align:center;
      a{
        position:relative;
        float:none;
        display: inline-block;
      }
    }
  }
  /* =footer
 ----------------------------------------------- */
  .footer-top-sidebar-item{
    margin-bottom:25px;
  }

  /* =video background
----------------------------------------------- */

.row-bg-video .cms-bg-video{

  .mejs-controls{
    display:none;
  }
}

 /* =Slideshow
----------------------------------------------- */
  .tp-thumbcontainer{
    left:0 !important;
  }



  /* =Carousel layout testimonial
  ----------------------------------------------- */
   .layout-testimonials .owl-controls{
      margin: 0;
  }

  .post-gallery .post-gallery-item:first-child{
      padding-top:0;
  }
  .post-gallery .post-gallery-item:last-child{
      padding-bottom:0;
  }

  .shopping_cart_dropdown{
    span.total{
    line-height: 65px;
  }
    
  }
}
/********** End Screen max width 991px **********/





/********** Start Screen max width 767px **********/
@media screen and (max-width: 767px) {

#page #container-wrap{
    padding: 0 0 40px;
    > .row{
      margin: 0;
    }
  }
/* =header
----------------------------------------------- */
 #masthead .header{
  #header-logo{
    a img{
      max-height:40px;
    }
    .mobile-search-icon{
      .header{
        top: -45px;
        
      }
    }
  }
 }
 /* =Carousel layout testimonial
  ----------------------------------------------- */

   .layout-testimonials .owl-controls{
      margin: 20px 0 30px 0;
  }

  .layout-middle{
    margin-top:30px; 
  }
   /* =Shortcode tabs
  }
  ----------------------------------------------- */
  .wpb_tabs.wpb_content_element .wpb_wrapper.wpb_tour_tabs_wrapper ul.wpb_tabs_nav li a{
    font-size: 10px;
  }

     /* =counter layout 1
  ----------------------------------------------- */
  .cms-counter-layout-1{
    margin-top: 20px !important;
    .cms-counter-item{
      margin-bottom: 20px;
    }
  }

  /* =fancyboxes layout vertical
----------------------------------------------- */
  .cms-fancyboxes-vertical-item {
    margin: 0 0 38px 0;
    .cms-fancyboxes-vertical-item-icon  {
      float: left;
      width: 100%;
      text-align: center;

    }
    .cms-fancyboxes-vertical-item-desc {
      padding:0; 
      float: left;
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }
  }



  .cms-carousel-team-navigation .cms-carousel-nav .cms-carousel-see-full{
    padding:0 15px;
  }

  .cms-fancyboxes-services-item{
    padding-bottom:44px;
  }

    /* =carousel layout testimonial
----------------------------------------------- */
  .layout-testimonials .cms-carousel-item .media .media-wrap{
    position:relative;
    .media-image, .media-info{
      position:relative;
      float: left;
      width: 100%;
      text-align: center;
    }
    .media-image  .cms-grid-media.has-thumbnail {
      position:absolute;
      left: 50%;
      @include transform(translate(-50%));
    }
    
  }

  .layout-testimonials .cms-carousel-item .cms-carousel-content{
      padding:0;
      margin-top: 20px;
    }
    .layout-testimonials .cms-carousel-item .media .media-info{
      margin: 60px 0 0 0 !important;
    }
  .cms-grid-footer{
    text-align: center;
  }
  .cms-grid-footer a{
    position:relative;
    @include transform(none);
    display: inline-block;
    top:none;
    left: 0;
  }

  

/* =Post quote
----------------------------------------------- */
article.format-quote{
  .entry-content .entry-quote-content .entry-quote-content-wrap{
    padding:20px 10px;
  }
}

/* =Post link
----------------------------------------------- */
article.format-link .entry-content{
  padding:48px 10px 46px;
}

/* =Post standard
----------------------------------------------- */
.post-gallery .post-gallery-item{
  padding:10px 0;
}

/* =shortcode tabs
----------------------------------------------- */
.wpb_tabs{
  margin-top:20px
}

/* =shortcode single image
----------------------------------------------- */
.vc_single_image-wrapper{
   margin-bottom:20px
}
/* =text video
----------------------------------------------- */

.video-introtext {
  p{
    float: left;
    text-align: center;
    width: 100%;
    img{
      float: none !important;
      display: inline-block;
    }
  }
  .text-video{
    padding:20px 0 !important;
    float: left
  }
}
/* =page services 2
----------------------------------------------- */
.services-adv-2{
  p.buy-now{
    text-align: center;
  }
}

/* =Portfolio single
-------------------------------------------------------------- */
  .content-portfolio-single{
    .portfolio-content{
      margin-bottom:20px; 
    }
    .portfolio-similar .portfolio-similar-items .cs-portfolio-similar-item{
      margin: 0 0 20px 0;
    }
    .entry-content .portfolio-extra-info{
      padding-left:0px;
    }
  }

/* =Blog 1 column
-------------------------------------------------------------- */
  .page-blog-1-column{
    .post-item{
      .post-media {
        width: 100% !important;
      }
      .post-content {
        width: 100% !important;;
      }
    }
  }

/* =Post single
-------------------------------------------------------------- */
body.single-post #main #primary #content article{
  footer.entry-meta{
    .post-share-buttons{
      text-align: left;
      margin-top:20px; 
    }
  }
}

/* =Slide show
-------------------------------------------------------------- */
  .rev_slider_wrapper{
    .tp-leftarrow.tparrows, .tp-rightarrow.tparrows{
      bottom:auto !important;
      top: 10px !important;
    }
    .tp-bullets.tp-thumbs{
      .tp-mask{
        .tp-thumbcontainer{
          .bullet.thumb{
            margin: 0 5px 0 0;
          }
        }
      }

    }
  }
  /* =Contact form
-------------------------------------------------------------- */
.contact-form-group{
  .contact-form-item{
    width: 100%;
    margin: 0;
  }
}
}


/****** End max-width 767px ******/

@media screen and (max-width: 1199px) {

/* =call to action
----------------------------------------------- */
  .cs_call_to_action{
    span.wpb_call_button{
      float: left;
      width: 100%;
      text-align: center;
      a{
        float: none !important;
        display: inline-block;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .page-404 h1.entry-title{
    font-size: 65px;
  }
  .page-wrapper{
    padding: 0 15px;
  }
   /* =Page blog 2 column
-------------------------------------------------------------- */
.page-blog-2-column{
  .post-item{
    .post-item-inner{
      .post-content{
        .post-title{

          p.post-details{
            display: none;
          }
        }
      }
      &:hover{
        .post-content{
          padding: 0px 30px;
          .post-title{
            margin: 15px 0 0 0;
          }
        }
      }
    }
  }
}
/* =Post single
-------------------------------------------------------------- */
#main #primary #content.single-post{
  #comments{
    ol.commentlist{
      li{
        .comment-body{ 
          .comment-main{
            padding-left:60px;
            .comment-meta{
              span.comment-author, span.comment-date{
                float: left;
                width: 100%;
              }
            }
          }
          .comment-author-image{
            width: 50px;
            height: 50px;
            line-height: 50px;
          }
        }
      }
    }
  }
}

/* =Carousel Layout team
----------------------------------------------- */
  .cms-carousel-team-navigation .cms-carousel-nav .cms-carousel-see-full{
    margin: 0;
    a{
      font-size: 12px;
    }
  }

/* =Post link
----------------------------------------------- */
  #main {
    #primary {
      #content {
        .page-bloggers{
          article {
             &.format-link .entry-content{
                padding:20px 10px;
                a{
                  font-size: 32px;
                }
                p{
                  font-size: 18px;
                }
             }

              &.format-quote{
                .entry-content{
                  .entry-quote-content{
                     .entry-quote-content-wrap{
                      padding:20px 10px;
                      blockquote {
                        font-size: 24px;
                      }
                      span{
                        font-size: 18px;
                      }
                      span.entry-quote-icon{
                        font-size: 170px;
                      }
                     }
                  }
                }
              }
          }
        }
      }
    }
  }
  /* =Page Services 2
----------------------------------------------- */

  .wpb_tabs.wpb_content_element{
    .wpb_wrapper.wpb_tour_tabs_wrapper{
        
      ul.wpb_tabs_nav li {
        width: 100%;
        float: left;
      }
    }
  }
  /* =Blog  2 column
----------------------------------------------- */
  .page-blog-2-column{
    .blog-items{
      .post-item{
        article{
          .post-item-inner{
            .post-content {
              .cms-driver, p, a.cms_readmore{
                opacity: 0;
                @include transition(all 1s);
              }
            }
            &:hover{
              .post-content {
                .cms-driver, p, a.cms_readmore{
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }  
  }
   /* =page Bloggers
----------------------------------------------- */
  #main {
    #primary {
      #content {
        .page-bloggers{
          article{
            .post-header-media{
              .post-format-icon{
                top:10px;
                left: 10px;
              }
              .post-media-extra{
                bottom:10px;
                right: 10px;
              }
            }
            &.format-video .entry-header .post-header-media .post-media-extra{
            top:10px;
          }
          }
        }

      }
    }
  }
}

/****** Start max-width 360px ******/

@media screen and (max-width: 360px) {
    .vc_progress_bar.wpb_content_element {
      .vc_label {
        span.vc_percentage{
          padding-right:0 !important;
        }
      }
    }
/* =Portfolio layout 4
----------------------------------------------- */
  .cms-grid-portfolio-layout-4{
    .cms-grid-portfolio{
      .cms-grid-item{
        .cms-grid-item-wrap{
          .cms-grid-item-meta{
            .cms-grid-item-icons{
              margin-top: 5px;
              a{
                width: 30px;
                line-height: 30px;
                height: 30px;
                font-size: 13px;
              }
            }
            .cms-grid-item-info{
              h3.portfolio-title{
                font-size: 13px;
                line-height: 13px;
                margin-top: 5px;
              }
              span.portfolio-categories{
                font-size: 11px;
                line-height: 11px;
              }
            }
          }
        }
      }
    }
  }
/* =About 2
----------------------------------------------- */
  .about-info {
    .about-info-right {
      span.about-signature{
        font-size: 22px;
      }
    }
    .about-info-left{
      h2.about-name{
        font-size: 11px;
      }
      span.about-regency{
        font-size: 11px;
      }
    }
  }
  /* =Carousel layout lastest post
----------------------------------------------- */
  .cms-carousel-navigation {
    .cms-carousel-nav {
      .cms-carousel-see-full,.cms-carousel-next,.cms-carousel-prev{
        margin: 0;
      }
    }
  }
}
/****** End max-width 360px ******/

@media screen and (width: 768px) {
  .about-info .about-info-right span.about-signature{
    font-size: 33px;
  }

  .page-blog-2-column{
    .post-item{
      .post-item-inner{
        .post-content{
          height: 90px;
        }
      }
    }
  }
}
@media screen and (width: 992px) {
  .about-info .about-info-right span.about-signature{
    font-size: 33px;
  }

  .page-blog-2-column{
    .post-item{
      .post-item-inner{
        .post-content{
          height: 90px;
        }
      }
    }
  }
}
@media screen and (width: 1024px) {
  .about-info .about-info-right span.about-signature{
    font-size: 33px;
  }

  .page-blog-2-column{
    .post-item{
      .post-item-inner{
        .post-content{
          height: 90px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .page-blog-2-column {
    .post-item {
      .post-item-inner {
        .post-content {
          a.cms-readmore{
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .cms-counter-layout-1{
    position:relative;
    width: 100%;
    .cms-counter-body{
      position:absolute;
      top:50%;
      left: 50%;
      @include transform(translate(-50%,-50%));
      width: 100%;
    }
  }

  .layout-middle{
    position:relative;
    .wpb_wrapper{
      position:absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      @include transform(translate(-50%,-50%));
    }
  }
}