.sidebar-left{
	#secondary{
		
		label{
			float: left;
			margin: 10px 0;
		}
		img{
			@include border-radius(0);
		}
		.widget-title{
			margin-bottom: 20px;
			display: inline-block;
			width: 100%;
		}
		a{
			color: #000;
			&:hover, &:focus{
				color: $primary_color;
			}
		}
	}
		
}