/*
// Variables
// --------------------------------------------------
// Variables
// $primary_color - main colour of text
// $primary_color - main colour of hover items
// $primary_color_hover - main colour hover
*/
/* Global values
 --------------------------------------------------*/
.center{text-align: center;}

/* Grays
 -------------------------*/
$black:                 #000;
$blackDarker:			#020000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #888;
$grayLighter:           #eee;
$white:                 #fff;
$light:					#e5e5e5;

/*Icon*/
$face:					#3b5999;
$twiter:				#32cdfd;
$rss:					#fa9638;
$pinterest:				#cb2028;
$tumblr:				#34465d;
$iconfooter:			#65d1f5;

/*Page Mode*/
$darkMode_color: #ffffff;
$lightMode_color: #696969;
$darkMode_item_background: #4e4e4e;
$darkMode_row_background: #303030;
$lightMode_row_background: #ffffff;
$lightMode_item_background: #f9f9f9;
$lightMode_item_hover_text: #343434;

/* Header mode */

