
/**
 * Filter Products
 */
body.woocommerce {
	#page-title{
		#breadcrumb-text{
			padding-bottom:0;
		}
	}
	.woocommerce-message{
		margin: 0 !important;
	}
}
.woocommerce form .form-row textarea{
	height:auto !important;
}
.woocommerce-filter{
	clear:both;
	padding-bottom:20px;
	border-bottom:1px solid #e5e5e5;
	margin:20px 0 30px 0;
	.products-filter{
		float: left;
		&.products-ordering{
			width: 50%;
		}
		&.products-per-page{
			width: 30%;
		}
		&.change-layout{
			width: 20%;
			text-align: right;
			label{
				float: none;
			}
		}
		label{
			float: left;
			text-align: left;
			margin-right: 10px;
			font-size: 15px;
			line-height: 36px;
		}
		form{
			text-align: left;
			margin: 0;
			float: left;
			
			div.sbHolder{
				border: 1px solid #e5e5e5;
				border-top: 2px solid #e5e5e5;
				padding-right:39px;
				position:relative;
				a.sbToggle, a.sbSelector{
					font-size: 15px;
					line-height: 36px;
					color: #696969;
					&:hover, &:focus, &:visited{
						text-decoration: none;
						outline: none;
					}
				}
				 a.sbSelector{
				 	padding:0 20px;
				 }
				a.sbToggle{
					position:absolute;
					width: 38px;
					height: 36px;
					top: 0;
					right: 0;
					color: #fff;
					background:#e5e5e5;
					text-align: center;
					&:after{
						content: "\f107";
						font-family: FontAwesome;
						color: #fff;
						font-size: 22px;
					}
					&:hover, &:focus{
						background:$primary_color;
					}
				}
				ul.sbOptions{
					padding:0;
					position:absolute;
					z-index: 9;
					width: 100%;
					background:#fff;
					border: 1px solid #e5e5e5;
					top:100% !important;
					margin: 1px -1px 0 -1px;
					border-top:none;
					box-sizing: content-box;
					li{
						list-style: none;
						a{
							font-size: 15px;
							line-height: 36px;
							color: #696969;
							float: left;
							width: 100%;
							padding:0 20px;
							&:hover, &:focus, &:visited{
								text-decoration: none;
								outline: none;
							}
							&.sbFocus{
								background:$primary_color;
								color: #fff;
							}
						}
					}
					&:hover{
						a{
							background:transparent;
							color: #696969;
							&:hover, &:focus{
								background:$primary_color;
								color: #fff;
							}
						}
					}
				}
				&:hover{
					border: 1px solid $primary_color;
					border-top: 2px solid $primary_color;
					a.sbToggle{
						background:$primary_color;
					}
				}
			}
			
		}
	}
	.change-layout{
		a{
			padding:10px;
			background:#e5e5e5;
			color: #fff;
			font-size: 15px;
			display: inline-block;
			line-height: 10px;
			&:hover,&:focus{
				background:$primary_color;
				outline: none;

			}
			&:visited{
				outline: none;
			}
			&.active{
				background:$primary_color;
			}
		}
	}
	select.orderby{
		&:hover{
			border:1px solid $primary_color;
		}
	}
}
ul.products-list{
	margin:0;
	padding:0;
	list-style:none;
	li{
		&.layout-full{
			margin-bottom:30px;
			border:1px solid transparent;
			.product-image{
				width: 40%;
				position:relative;
				img{
					max-width: 100%;
					height: auto;
					width: 100%;
					@include border-radius(0);
				}
				.onsale{
					left: auto;
					right: 0;
					top: 0;
					@include border-radius(0);
					background:#fead00;
				}
			}
			.product-details{
				width: 60%;
				padding:30px;
				background:#fff;
				border:1px solid transparent;
				border-left:none;
				.product-desc{
					padding:25px 0;
					border-top:1px solid #f2f2f2;
					border-bottom:1px solid #f2f2f2;
					margin-bottom:25px;
					.product-short-desc{
						p{
							font-size: 13px;
							line-height: 20px;
							letter-spacing: 0.04em;
							color: #696969;
							margin: 0;
						}
					}
					.product-price{
						margin-top:10px; 
						.cshero-product-price{
							font-size: 17px;
							line-height: 17px;
							letter-spacing: 0.04em;
							color: #ff0000;
							font-weight: bold;
							font-family: Montserrat;
							del{
								color: #969696;

							}
							ins{
								text-decoration: none;
								&:before{
									content: '-';
									color: #343434;
									padding:0 10px;
								}
							}
						}
						.star-rating{
							display: none;
						}
					} 
				}
				.title-cat{
					margin-bottom:20px; 
					h3 {
						margin: 0;
						a{
							font-size: 17px; 
							line-height: 20px;
							letter-spacing: 0.04em;
							margin: 0;
							font-weight: bold;
							color: #343434;
							&:hover,&:focus{
								text-decoration: none;
								color: $primary_color;
								outline: none;
							}
							&:visited{
								outline: none;
							}
						}
					}
					.product-categories{
						width: 50%;

						a{
							font-size: 13px;
							line-height: 17px;
							letter-spacing: 0.04em;
							color: #696969;
							&:hover,&:focus{
								color: $primary_color;
								text-decoration: none;
								outline: none;
							}
							&:visited{
								outline: none;
							}
						}
					}
					.product-rating{
						width: 50%;
						.star-rating{
							&:before{
								color: #424242;
							}
							span{
								color: $primary_color;
							}
						}
					}
				}

				.product-meta{
					.btn.view-detail{
						border:none;
						&:hover, &:focus{
							border:none;
							background:none;
							color: $primary_color;
							outline: none;
						}
						&:visited{
							outline: none;
						}
					}
					a.added_to_cart{
						border: 1px solid #696969;
					    border-radius: 0;
					    color: #696969;
					    font-family: Montserrat;
					    font-size: 12px;
					    font-weight: 700;
					    letter-spacing: 0.04em;
					    line-height: 17px;
					    padding: 5px 12px;
					    text-transform: uppercase;
					    &:hover, &:focus{
					    	background:$primary_color;
					    	border-color:$primary_color;
					    	color: #fff;
					    }
					}
				}
			}
			&:hover{
					border:1px solid #d9d9d9;
			}
		}
		&.layout-grid{
			margin-bottom:30px;
			padding-left:15px;
			width: 50%;
			float: right;
			.product-item{
				position:relative;
				width: 100%;
				border:5px solid #f5f5f5;
				.product-image{
					width: 100%;
					position:relative;
					img{
						max-width: 100%;
						height: auto;
						width: 100%;
						@include border-radius(0);
					}
					.onsale{
						left: auto;
						right: 0;
						top: 0;
						@include border-radius(0);
						background:#fead00;
					}
				}
				.product-details{
					width: 100%;
					position:absolute;
					bottom:0;
					left: 0;
					right:0;
					z-index: 3;
					.product-details-inner{
						background:rgba(255,255,255,0.9);
						padding:30px;
						position:relative;
						.product-desc{
							.product-short-desc{
								display: none;
							}
							.cs-product-description{
								display: none;
							}
							.product-price{
								margin-top:10px; 
								.cshero-product-price{
									font-size: 17px;
									line-height: 17px;
									letter-spacing: 0.04em;
									color: #000;
									font-weight: bold;
									font-family: Montserrat;
									del{
										color: #969696;

									}
									ins{
										text-decoration: none;
										&:before{
											content: '-';
											color: #343434;
											padding:0 10px;
										}
									}
								}
								.star-rating{
									&:before{
										color: #424242;
									}
									span{
										color: $primary_color;
									}
								}
							} 
						}
						.title-cat{
							margin-bottom:18px; 
							h3 {
								margin: 0;
								a{
									font-size: 17px; 
									line-height: 20px;
									letter-spacing: 0.04em;
									margin: 0;
									font-weight: bold;
									color: #343434;
									&:hover,&:focus{
										text-decoration: none;
										color: $primary_color;
										outline: none;
									}
									&:visited{
										outline: none;
									}
								}
							}
							.product-categories{
								width: 50%;

								a{
									font-size: 13px;
									line-height: 17px;
									letter-spacing: 0.04em;
									color: #696969;
									&:hover,&:hover{
										color: $primary_color;
										text-decoration: none;
										outline: none;
									}
									&:visited{
										outline: none;
									}
								}
							}
							.product-rating{
								display: none
							}
						}

						.product-meta{
							.btn.view-detail{
								display: none;
							}
							.cshero-add-to-cart{
							    position: absolute;
							    top: -31px;
							    opacity: 0;
							    left: 0;
							    width: 100%;
							    text-align: center;
							    @include transition(all 1s);
							    a{
							    	&.btn, &.added_to_cart{
								    	border-color:$primary_color;
								    	background:$primary_color;
								    	color: #fff;
								    	display: inline-block;
								    	padding:6px 9px;
								    }
								    &.added_to_cart{
								    	font-size: 12px;
										line-height: 19px;
										letter-spacing: 0.04em;
										font-family: Montserrat;
										font-weight: 700;
										text-transform: uppercase;
								    }
								    &:hover,&:focus,&:visited{
								    	outline: none;
								    	text-decoration: none;
								    }
							    }
							    
							    
							}
						}
					}
					
				}
			}
			&:hover{
				.product-meta{	
					.cshero-add-to-cart{
					    opacity: 1 !important;
					}
				}
			}
			&:nth-child(2n+1){
				padding-left:0;
				padding-right:15px;
				float: left;
			}
		}
	}
	
	
}

nav.woocommerce-pagination{
  float: left;
  width: 100%;
  text-align: center;
  margin: 30px 0 40px 0;
  ul.page-numbers li {
	span.current{
	    color: $primary_color !important;
	    border:1px solid $primary_color;
	    font-weight: 400;
	    background:transparent;
	    font-style: italic;
	}
	a.page-numbers{
		background:transparent;
		border:1px solid #969696;
		font-weight: 400;
		text-decoration: none;
		color: #969696;
		font-style: italic;
		&:hover, &:focus{
			background: $primary_color;
			border-color:$primary_color;
			color:#fff;
			outline: none;
		}
		&:visited{
			outline: none;
		}
	}
  }
}

.cshero-woo-breadcrumb{
	display:none;
}
#container{
	clear:both;
}


/* =Single product
-------------------------------------------------------------- */
body.woocommerce div.product{
	.product-details{
		padding:30px 30px 0;
		margin-bottom:20px;
		background:#fff;
		.product-details-inner{
			.product-image{
				width: 40%;
				position:relative;
				.onsale{
					left: auto;
					right: 0;
					top: 0;
					@include border-radius(0);
					background:#fead00;
				}
				.images{
					width: 100% !important;
					display: inline-block;
					img{
						@include border-radius(0 !important);
					}
				}
				.thumbnails{
					a{
						width: 56px !important;
						height:56px;
						margin:0 10px 5px 0 !important;
						&.first{
							clear: none !important;
						}
						&.last{
							margin: 0 0 5px 0 !important;
						}
					}
				}
			}
			.product-summary{
				width: 60%;
				padding:0 0 0 30px;
				.product-title{
					margin-bottom:20px; 
					.product-title-cat{
						width: 50%;
						h3 {
							margin: 0;
							font-size: 17px; 
							line-height: 20px;
							letter-spacing: 0.04em;
							font-weight: bold;
							color: #343434;
						}
						.product-categories{
							a{
								font-size: 13px;
								line-height: 17px;
								letter-spacing: 0.04em;
								color: #696969;
								&:hover,&:focus{
									color: $primary_color;
									text-decoration: none;
									outline: none;
								}
								&:visited{
									outline: none;
								}
							}
						}
					}
					.product-rating{
						width: 50%;
						.star-rating{
							&:before{
								color: #424242;
							}
							span{
								color: $primary_color;
							}
						}
						.product-reviews{
							text-align: right;
							font-size:13px;
							line-height: 20px;
							letter-spacing: 0.02em;
							color: #969696; 
						}
					}
				}

				.product-desc{
					padding:20px 0;
					border-top:1px solid #f2f2f2;
					margin-bottom:25px;
					p{
						font-size: 13px;
						line-height: 20px;
						letter-spacing: 0.04em;
						color: #696969;
						margin: 0;
					}
				}
				.product-meta{
					border-bottom: 1px solid #f2f2f2;
					padding-bottom:25px;
					margin-bottom:20px; 
					.product-stock{
						text-align: right;
						font-size:13px;
						line-height: 20px;
						letter-spacing: 0.02em;
						color: #969696;
					}
					.product-price{
						margin-top:10px; 
						.price{
							font-size: 17px;
							line-height: 17px;
							letter-spacing: 0.04em;
							color: #ff0000;
							font-weight: bold;
							font-family: Montserrat;
							text-align: right;
							margin: 0;
							del{
								color: #969696;
								display: inline-block;
							}
							ins{
								text-decoration: none;
								
							}
						}
						.star-rating{
							display: none;
						}
					} 
				}

				.product-add-to-cart{
					text-align: right;
					p.stock{
						display: none;
					}
					form.cart{
						display: inline-block;
						.quantity{
							margin-right:10px; 
							input.input-text{
								width: 35px;
								padding:0;
								height: 31px;
							}
							
						}
						button.single_add_to_cart_button{
							@include border-radius(0); 
							padding:7px 15px;
							font-size: 12px;
							line-height: 17px; 
							letter-spacing: 0.04em;
							font-family: Montserrat;
							font-weight: 700;
							text-transform: uppercase;
							color: #fff;
							background: $primary_color;
						}
					}
				}
			}
		}
		.product-tabs{
			margin-bottom:30px;
			.woocommerce-tabs{
				ul.tabs{
					padding:0 !important;
					margin: 0 0 1px 0 !important;
					border:none !important;
					&:before{
						border:none !important;
					}
					li{
						padding:0 !important;
						margin-right:1px !important;
						@include border-radius(0 !important) ;
						border:none !important;
						a{
							padding:10px 15px !important;
							background: #ebebeb !important;
							color:#696969 !important;
							font-size: 12px !important;
							line-height: 17px !important;
							letter-spacing: 0.04em !important;
							font-family: Montserrat !important;
							font-weight:400;
						}
						&.active{
							a{
								background:$primary_color !important;
								color: #fff !important;
							}
						}
						&:before{
							position:relative !important;
							border: none !important;
						} 
						&:after{
							position:relative !important;
							border: none !important;
						} 
					}
				}
				#tab-description{
					border:1px solid #f1f1f1;
					padding:30px;
					margin: 0;
					p{
						font-size: 13px;
						line-height: 20px;
						letter-spacing: 0.04em;
						color:#696969;
						margin: 0;
					}
					
				}
				#tab-reviews{
					border:1px solid #f1f1f1;
					padding:30px;
					margin: 0;
					#review_form_wrapper{
						form#commentform{
							> .row{
								margin: 0;
							}
						}
						h3#reply-title{
							margin-bottom: 10px;
						}
					}
					.star-rating{
							&:before{
								color: #424242;
							}
							span{
								color: $primary_color;
							}
						}
				}
			}
			
		}
	}
	.product-similiar{
		background:#fff;
		padding: 30px;
		h2{
			text-transform: uppercase;
			letter-spacing: 0.07em;
			padding-bottom:18px;
			border-bottom:1px solid #e5e5e5;
			margin-bottom: 30px;
		}
		ul.products-list{
			li.product{
				background:none;
				margin-bottom:30px;
				padding-left:15px;
				width: 50%;
				float: right;
				.product-item{
					position:relative;
					width: 100%;
					.product-image{
						width: 100%;
						position:relative;
						img{
							max-width: 100%;
							height: auto;
							width: 100%;
							@include border-radius(0);
						}
						.onsale{
							left: auto;
							right: 0;
							top: 0;
							@include border-radius(0);
							background:#fead00;
						}
					}
					.product-details{
						width: 100%;
						padding:5px;
						position:absolute;
						bottom:0;
						left: 0;
						right:0;
						z-index: 3;
						background:none;
						margin:0;
						.product-details-inner{
							background:rgba(255,255,255,0.7);
							padding:30px;
							position:relative;
							.product-desc{
								padding:0;
								margin: 0;
								border:none;
								.product-short-desc{
									display: none;
								}
								.cs-product-description{
									display: none;
								}
								.product-price{
									margin-top:10px; 
									.cshero-product-price{
										font-size: 17px;
										line-height: 17px;
										letter-spacing: 0.04em;
										color: #000;
										font-weight: bold;
										font-family: Montserrat;
										del{
											color: #969696;

										}
										ins{
											text-decoration: none;
											&:before{
												content: '-';
												color: #343434;
												padding:0 10px;
											}
										}
									}
									.star-rating{
										&:before{
											color: #424242;
										}
										span{
											color: $primary_color;
										}
									}
								} 
							}
							.title-cat{
								margin-bottom:18px; 
								h3 {
									margin: 0 0 5px 0;
									a{
										font-size: 17px; 
										line-height: 20px;
										letter-spacing: 0.04em;
										margin: 0;
										font-weight: bold;
										color: #343434;
										&:hover,&:hover{
											text-decoration: none;
											color: $primary_color;
											outline: none;
										}
										&:visited{
											outline: none;
										}
									}
								}
								.product-categories{
									width: 50%;

									a{
										font-size: 13px;
										line-height: 17px;
										letter-spacing: 0.04em;
										color: #696969;
										&:hover,&:hover{
											color: $primary_color;
											text-decoration: none;
											outline: none;
										}
										&:visited{
											outline: none;
										}
									}
								}
								.product-rating{
									display: none
								}
							}

							.product-meta{
								.btn.view-detail{
									display: none;
								}
								.cshero-add-to-cart{
									left: 50%;
								    position: absolute;
								    top: -31px;
								    transform: translateX(-50%);
								    opacity: 0;
								    @include transition(all 1s);
								    .btn{
								    	border-color:$primary_color;
								    	background:$primary_color;
								    	color: #fff;
								    }
								}
							}
						}
						
					}
					&:hover{
						.product-meta{	
							.cshero-add-to-cart{
							    opacity: 1 !important;
							}
						}
						.product-details{
							border-color:transparent;
						}
					}
				}
				
				&:nth-child(2n+1){
					padding-left:0;
					padding-right:15px;
					float: left;
				}
			}
		}
	}
}	

/*Page Cart
===========================*/
.woocommerce-cart{
	.page-wrapper{
		background:#fff;
		table.shop_table{
			thead{
				font-family: Montserrat;
			}
			tbody{
				font-family: Vollkorn;
				a{
					color: #696969;
					&:hover,&:focus{
						color: $primary_color;
						text-decoration: none;
						outline: none;
					}
					&:visited{
						text-decoration: none;
						outline: none;
					}
				}
				.actions{
					.coupon{
						input[type="text"]{
							width: 100px !important;
						}
						input#coupon_code{
							line-height: 19px !important;
						}
					}
					input[type="submit"]{
						font-family: Montserrat;
						@include border-radius(0);
						&:hover{
							background:$primary_color;
							color: #fff;
						}
					}
				}
			}
		}
		.cart-collaterals{
			.cart_totals {
				th{
					font-family: Montserrat;
					border-left:1px solid rgba(51, 51, 51, 0.1);
					padding:5px;
				}
				td{
					span{
						margin-left: 10px;
					}
				}
				a{
					color: #696969;
					&:hover, &:focus{
						text-decoration: none;
						outline: none;
						color: $primary_color;
					}
					&:visited{
						text-decoration: none;
						outline: none;
					}
				}
				.wc-proceed-to-checkout{
					a:hover{
						color: #fff;
					}
				}
			}
		}
	}
}




/**
 * Screen Max Width 767px;
 * 
 */
@media screen and (max-width: 767px) {
	ul.products-list{
		li.layout-full{
			.product-image, .product-details{
				width: 100%;
			}
			.product-details{
				border:1px solid transparent;
				border-top:none;
			}
			&:hover{
				.product-details{
					border:1px solid #d9d9d9;
					border-top:none;
				}
			}
		}
	}
	body.woocommerce div.product{
		.product-details{
			.product-details-inner{
				.product-image{
					width: 100%;
				}
				.product-summary{
					width: 100%;
					padding-left:0;
					.product-title{
						.product-title-cat{
							width: 100%;
						}
						.product-rating{
							width: 100%;
							.product-reviews {
								text-align: left;
							}
							.star-rating{
								float: left;
							}
						}
					}
				}
			}
		}
		.product-similiar{
			ul.products-list{
				li.product{
					width: 100%;
					padding:0;
					&:nth-child(2n+1){
					padding-right:0;
				}
				}
			}
		}
	}
	.woocommerce-filter{
		.products-filter{
			margin-bottom:10px;
			&.products-ordering{
				width: 100%;
			}
			&.products-per-page{
				width: 100%;
			}
			&.change-layout{
				width: 100%;
				text-align: left;
			}
		}
	}
	
}

@media screen and (max-width: 480px) {
	ul.products-list li.layout-grid{
		width: 100%;
		padding: 0;
		&:nth-child(2n+1){
			padding:0;
		}
	}
	table{
		th.product-price, td.product-price{
			display: none;
		}
	}
}


@media screen and (max-width: 360px) {
	ul.products-list li.layout-full{
		.product-details{
			.cshero-view-detail{
				float: left;
				width: 100%;
				margin-top: 10px;
			}
		}
	}
}